.welcome-message {
    text-align: center;
    font-family: serif;
}

.contenedor {
   display: flex;
}

.item-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    grid-auto-rows: 550px;
    gap: 100px;
    padding: 24px 0;
 }